/* remove standard formatting */
*{
    margin: 0px;
    padding: 0px
    box-sizing: border-box;
}

/* navigation bar/menu behaviour */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c21500, #ffc500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c21500, #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Kiwi Maru', serif;
    color: white;
}
.logo {
    color: #F4F5F3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin-left: 0.5%;
    margin-right: 2%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;

}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:#F4F5F3;
    text-decoration: none;
    letter-spacing: 3px;
}

.burger{
    display: none;
    margin-right: 5px;
    
}
.burger div{
width: 25px;
height: 3px;
background-color:#F4F5F3;
margin: 5px;
transition: all 0.25s ease-in;

}
body {
  background: linear-gradient(to right, #232526, #414345);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  height: 750px;
  padding: 5px 5px 5px 5px;
  grid-template-areas:
    "SubMenu Content Content InfoPanel"
    "SubMenu Content Content InfoPanel";
}
.SubMenu { 
    grid-area: SubMenu; 
    background: linear-gradient(to right, #ffd89b, #19547b);
    padding: 5px 5px 5px 5px;
    
}
.Content { 
    grid-area: Content; 
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px 5px 5px 5px;
}
.InfoPanel { 
    grid-area: InfoPanel;
    background: #F4F5F3;
    padding: 5px 5px 5px 5px;
}


/* Newer Monitors */
@media screen and (max-width: 2560px){
    body{
        overflow-x: hidden
        
    }
    .nav-links{
        position: absolute;
        left: 0px; 
        height: 92vh;
        top: 8vh;
        background: #c21500;  /* fallback for old browsers */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12%;
        transform:translateX(-100%);
        transition: transform 0.8s ease-in;
        
        
    }
    .nav-links li{
        opacity: 1;
    }

    .burger{
        display:block;
    }
    
    .nav-active{
        transform: translateX(0%);
    }
    @keyframes navLinkFade{
        from{
            -webkit-opacity: 0;
            opacity: 0;
            -webkit-transform: translateX (50px);
            transform: translateX (50px);
        } 
        to{
            -webkit-opacity: 1;
            opacity: 1;
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
        
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
        }
   .toggle .line2{
       opacity: 0;
       }
    .toggle .line3{   
        transform: rotate(45deg) translate(-5px,-6px);
     }  
}


@media screen and (max-width: 1700px){
    .nav-links{
        width: 15%;
        
    }
}

@media screen and (max-width: 1270px){
    .nav-links{
        width: 17%;
        
    }
}
/* Smaller screens, older pc's*/
@media screen and (max-width: 1024px){
    .nav-links{
        width: 20%;
        
    }
}
/* Ipad screen */
@media screen and (max-width: 768px){
    .nav-links{
        width: 25%;
        
    }
}
@media screen and (max-width: 570px){
    .nav-links{
        width: 30%;
        
    }
}
/* Mobile Phone portrait */
@media screen and (max-width: 450px){
    .nav-links{

        width: 40%;
        
    }
}




/* Font Standardisation */


p {
    font-family: 'Kiwi Maru', serif;
    font-size: 12px;
    color: #000000;
   }
h1 {
    font-family: 'Kiwi Maru', serif;
    font-size: 36px;
    font-weight: bold;
    color: #000066;
   }
h2{
    font-family: 'Kiwi Maru', serif;
    font-size: 24px;
    font-weight: bold;
    color: #000066;
   }

